body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: "Rubik", sans-serif;
}

.container {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width:400px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
   
}
.ip-container{
    background-image: url(./images/pattern-bg-mobile.png);
    width: 100%;
    height:300px;
    background-position: cover;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
    color: white;
}


.input-container {
    display: flex; 
    margin-bottom: 20px;
    position: relative;
   
   
}



input[type="text"] {
    padding: 10px;
    width: 70%;
    margin-left:20px;
    border-radius: 15px 0 0 15px; 
    border: 1px solid #ccc;
    cursor: pointer;
}

button {
    padding: 20px;
    background-color: #010e02;
    color: white;
    border: none;
    border-radius: 0 15px 15px 0; 
    cursor: pointer;
}

.result {
   /* padding: 20px;
    background-color: #ebf1eb;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Subtle shadow for result box 
   z-index: 1000;
    position: absolute;
    width:280px;
    top: 220px;*/

   
}

.result p {
    margin: 8px 0;
    color:  hsl(0, 0%, 59%);
    font-weight: 400;
}
#map {
   
    height: 500px;  
    width: 100%;
    box-sizing: border-box;
}



@media (min-width: 768px){
    body {
        font-family: 'Rubik', sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f4f4f4;
        font-family: "Rubik", sans-serif;
    }
    .container {
        background-color: rgb(255, 255, 255);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        width:100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-self: center;
       
    }
    .ip-container{
        background-image: url(./images/pattern-bg-mobile.png);
        width: 100%;
        height:300px;
        background-size:  cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
    }
    .input-container {
        display: flex; 
        margin-bottom: 20px;
        position: relative;
        justify-content: center;
    }

    .result {
        padding: 20px;
        background-color: #ebf1eb;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
        z-index: 1000;
        position: absolute;
        width:65%;
        top: 240px;
        height:40px;

        .vertical-line {
            border-left: 2px solid #9e9090; 
            height: 100%; 
            margin: 0 20px; 
           position: relative;
           z-index: 1;
           display: flex;
          
          }
       
    }
}
      
